<nav>
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="assets/flipkart.jpeg" alt="" id="img1">
      </div>

      <form class="navbar-form navbar-left" action="/action_page.php">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search" id="search">
          <div class="input-group-btn">
           

          </div>

        </div>
      </form>
      <i class="fa fa-shopping-cart" aria-hidden="true" id="cart"></i>
</div>
  </nav>
